<style>
  .message-content{ max-width: 600px; font-family: Arial, Helvetica, sans-serif;
  font-size: 18px; color: #222; line-height: 21px; }
</style>

<div class='message-content'>
  <p>Olá, {{name}}</p>
  <p>Parece que uma troca de senha para sua conta foi solicitada.</p>
  <p>Se foi você, então clique no link abaixo para escolher uma nova senha:</p>
  <a href='{{link}}'>Clique aqui para trocar sua senha.</a>
  <p>Se não foi você, então descarte esse e-mail!</p>
  <p>Feito por Thales-Eduardo❤!</p>
</div>
